<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Icon</title>
</head>
<body>
    <h2>いってらっしゃい!!</h2>
    <img src="<%= filename %>" alt="<%= alt %>" width="500" height="700">
</body>
</html>